#viewport
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: black;
}

#scene > canvas
{
	position: fixed;
	top: 0;
	left: 0;
}

canvas#debug-draw
{
	pointer-events: none;
}