$primary-color:		#fe0005;
$primary-glow:		0px 0px 5px $primary-color;
$transparent-black:	rgba(0,0,0,0.6);
$hexagon-width: 	64px;

@font-face
{
	font-family: earthorbiter;
	src: url("../fonts/earthorbiterbold.ttf");
}

@font-face
{
	font-family: pixeled;
	src: url("../fonts/pixeled.ttf");
}

*
{
	box-sizing: border-box;
	font-family: earthorbiter;
	color: $primary-color;
	text-shadow: $primary-glow;
}

ul, li
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#viewport
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: black;
}

#scene > canvas
{
	position: fixed;
	top: 0;
	left: 0;
}

canvas#debug-draw
{
	pointer-events: none;
}

dialog.modal
{
	position: fixed;
	background: $transparent-black;
	border: 1px solid $primary-color;
	box-shadow: $primary-glow;
	padding: 1em;
}

dialog.loading
{
	text-align: center;
}

#hud
{
	position: fixed;
	bottom: 1em;
	right: 1em;
}


#actions li
{
    display: inline;
}

#actions button
{
    border: none;
    background: none;
    font-size: 32px;
    cursor: pointer;
}

@keyframes ui-red-glow
{
    0%
    {
        text-shadow: 0 0 5px #fe0005;
    }

    50%
    {
        text-shadow: 0 0 20px #fe0005;
    }

    100%
    {
        text-shadow: 0 0 5px #fe0005;
    }
}

#actions button:hover i
{
    animation-name: ui-red-glow;
    animation-duration: 2.0s;
}

input, select.weapon
{
    background: black;
    padding: 0.5em;
    
    font-size: 12pt;
    border: 1px solid #fe0005;
    box-shadow: 0 0 5px #fe0005;
}

select.weapon
{
	width: 100%;
}

#degrees-and-power
{
	display: flex;
	padding-bottom: 0.5em;
	align-items: center;
}

#degrees-and-power input
{
	flex: 1;
	width: 16px; /* For some reason this is required for flex to work properly */
	text-align: right;
}

#degrees-and-power span.degrees
{
    font-family: sans-serif; /* The degrees symbol in the Earth Orbiter font is almost invisible */
    padding-right: 0.33em;
}

#hud input,
	#hud select,
	#hud button
{
	outline: none;
}

#announcement
{
	position: fixed;
	top: 25vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	
	font-size: 40pt;
	font-weight: bold;
	text-align: center;
	max-width: 50vw;
	
	text-shadow: 0px 0px 5px black;
}